/* Colors:
https://colorhunt.co/palette/71302 <--use
https://colorhunt.co/palette/31443

Text color options:
Dark Teal - #247ba0
Dark Purple - #88498f
Superdark Green - #41463d

font-family: 'Marcellus', serif;
font-family: 'Coustard', serif;
font-family: 'Gabriela', serif;
font-family: 'Cormorant Upright', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Parisienne', cursive;

*/


/****************************************************
ELEMENTS & TEXT
*******************/

body {
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Marcellus', serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 10px;
    color: #88498f;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #247ba0;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #247ba0;
    text-decoration: none;
}

a:hover {
    font-family: 'Montserrat', sans-serif;
    color: #88498f;
    text-decoration: none;
}


/****************************************************
TEXT
*******************/

.programmer {
    font-size: 1.5em;
    font-weight: normal;
    color: #247ba0;
}

.copyright {
    font-size: 12px;
    color: #88498f;
}


/****************************************************
NAVBAR
*******************/

.navbar-custom-css {
    background-color: #a8e6cf;
    text-align: right;
}


/****************************************************
DIVIDERS
*******************/

hr {
    border-style: dotted;
    border-width: 10px;
    border-bottom: none;
    width: 5%;
    margin: auto;
    border-color: #EAF6F6;
    margin: 100px auto;
}


/****************************************************
CONTAINERS
*******************/

.top-container {
    background-color: #a8e6cf;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    background-color: white;
    margin: 100px 0;
}

.profile {
    width: 40%;
    margin: auto;
}

.bottom-container {
    background-color: #dcedc1;
    padding: 25px 0;
}

.contact-message {
    margin: 0 auto 60px;
    width: 30%;
}

.skill-row {
    margin: 50px auto;
    width: 50%;
    text-align: left;
}

.row1 {
    margin: 3% auto 5%;
    padding: 3% auto;
}

.row2 {
    margin: 3% auto;
    padding: 3% auto;
}


/****************************************************
IMAGES
*******************/

.cloud-img {
    width: 200px;
    position: absolute;
    left: 70%;
    top: 25px;
}

.shaydaname-img {
    width: 600px;
}

.dragon-img {
    width: 200px;
    position: absolute;
    left: 20%;
}

.mountains-img {
    margin: 0 auto;
    padding-top: 50px;
    width: 600px;
    vertical-align: bottom;
}

.shaydaface-img {
    width: 200px;
    border-radius: 50%;
}

.dev-img {
    width: 100px;
    float: left;
    margin-right: 30px;
}

.write-img {
    width: 100px;
    float: right;
    margin-left: 30px;
}

.portfolio-img {
    border-radius: 100%;
    margin-bottom: 3%;
}


/****************************************************
BUTTONS
*******************/

.myButton {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #247ba0 5%, #44a8cf 100%);
    background-color: #247ba0;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin: 2% auto 3%;
}

.myButton:hover {
    background: linear-gradient(to bottom, #44a8cf 5%, #247ba0 100%);
    background-color: #44a8cf;
}

.myButton:active {
    position: relative;
    top: 1px;
}


/****************************************************************************************************************************************
MEDIA QUERIES
*******************/

@media only screen and (max-width: 900px) {
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.25rem;
    }
    .profile {
        width: 70%;
    }
    .github-links {
        margin-bottom: 80px;
    }
}